DATABASE_URL="mysql://root:password@localhost:3306/property_listing?schema=public"
CLOUDINARY_CLOUD_NAME="dlsd6e1rr"
CLOUDINARY_API_KEY="YOUR_API_KEY"
CLOUDINARY_API_SECRET="YOUR_API_SECRET"
ADMIN_PIN="1234"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
